html body{
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Dollar_Sign.svg/1000px-Dollar_Sign.svg.png?20120706173622);

}


h3 {
    color: green;
}

div {
    color: green;
}

div span {
    color: green;
}

span {
    color: green;
}

a {
    color: green;
}

cite {
    color: green;
}

em {
    color: green;
}

div span {
    color: green;
}

div a {
    color: green;
}

span em {
    color: green; 
}



